openapi: 3.2.0
info:
  title: Till Payments Gateway Continue Dcc API
  description: Till Payments Gateway
  termsOfService: ''
  contact:
    email: ''
  license:
    name: MIT
  version: 3.0.0
servers:
- url: https://gateway.tillpayments.com/api/v3
security:
- basicAuth: []
tags:
- name: continue-dcc
paths:
  /transaction/{apiKey}/continue-dcc:
    post:
      tags:
      - continue-dcc
      summary: Continue a DCC transaction
      operationId: processContinueDcc
      parameters:
      - name: apiKey
        in: path
        description: API Key of Connector
        required: true
        schema:
          type: string
      requestBody:
        description: Data which is required to continue a pending DCC transaction.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContinueDcc'
      responses:
        '200':
          description: Transaction response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
components:
  schemas:
    Country:
      type: string
      pattern: ^[A-Z]{2}$
    DateTimeZone:
      type: string
      pattern: ^[0-9]{4}-((0[1-9])|(1[0-2]))-((0[1-9])|([1-2][0-9])|(3[0-1]))T(([0-1][0-9])|([2][0-3])):([0-5][0-9]):([0-5][0-9])\+[0-9]{2}\:[0-9]{2}$
    Amount:
      type: string
      pattern: ^(([0-9]{1,10})|([0-9]{1,10}\.[0-9]{1,3}))$
    Currency:
      type: string
      pattern: ^[A-Z]{3}$
    ReturnIbanData:
      type: object
      properties:
        _TYPE:
          type: string
          enum:
          - ibanData
        accountOwner:
          type: string
        iban:
          type: string
        bic:
          type: string
        mandateId:
          type: string
        mandateDate:
          $ref: '#/components/schemas/Date'
        bankName:
          type: string
        bankBranchName:
          type: string
        country:
          $ref: '#/components/schemas/Country'
      additionalProperties: false
    ReturnPhoneData:
      type: object
      properties:
        _TYPE:
          type: string
          enum:
          - phoneData
        phoneNumber:
          type: string
        country:
          $ref: '#/components/schemas/Country'
        operator:
          type: string
      additionalProperties: false
    ScheduleStatus:
      type: string
      enum:
      - ACTIVE
      - PAUSED
      - CANCELLED
      - ERROR
      - CREATE-PENDING
    ContinueDcc:
      type: object
      properties:
        continueDccUuid:
          type: string
        selectedDccCurrency:
          $ref: '#/components/schemas/Currency'
      additionalProperties: false
    ReturnCardData:
      type: object
      properties:
        _TYPE:
          type: string
          enum:
          - cardData
        type:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        country:
          $ref: '#/components/schemas/Country'
        cardHolder:
          type: string
        expiryMonth:
          type: string
          pattern: ^((0[1-9])|(1[0-2]))$
        expiryYear:
          type: string
          pattern: ^[0-9]{4}$
        binDigits:
          type: string
          pattern: ^[0-9]{6-8}$
        firstSixDigits:
          type: string
          pattern: ^[0-9]{6}$
        lastFourDigits:
          type: string
          pattern: ^[0-9]{4}$
        fingerprint:
          type: string
        binBrand:
          type: string
        binBank:
          type: string
        binType:
          type: string
        binLevel:
          type: string
        binCountry:
          type: string
        binSegment:
          type: string
          enum:
          - Consumer
          - Business
          - Commercial
          - Government
          - Unknown
        binRawData:
          type: object
          properties:
            type:
              type: string
            data:
              type: object
              additionalProperties: true
        threeDSecure:
          type: string
        eci:
          type: string
        merchantAdviceCode:
          type: string
        parsedMerchantAdviceCode:
          type: string
        schemeTransactionIdentifier:
          type: string
        schemeLifecycleIdentifier:
          type: string
        referenceSchemeLifecycleIdentifier:
          type: string
        cardUpdateStatus:
          type: string
          enum:
          - updated
          - contact
          - new-expiry
          - closed
          description: Account updater transaction status
        cardUpdatedAt:
          type: string
          description: Last run of the batch
          format: date
          example: '2024-05-07 00:00:00'
        cardUpdatePausedUntil:
          type: string
          description: Updates paused until this date
          format: date
          example: '2024-05-07'
    TransactionResponse:
      type: object
      properties:
        success:
          type: boolean
        uuid:
          type: string
        purchaseId:
          type: string
        returnType:
          type: string
          enum:
          - FINISHED
          - REDIRECT
          - HTML
          - PENDING
          - ERROR
          - PENDING_DCC
        redirectType:
          type: string
          enum:
          - iframe
          - fullpage
          - 3ds
        redirectUrl:
          type: string
          maxLength: 255
        redirectQRCode:
          type: string
          description: DataUrl
        htmlContent:
          type: string
        paymentDescriptor:
          type: string
        paymentMethod:
          type: string
        returnData:
          $ref: '#/components/schemas/ReturnData'
        scheduleData:
          $ref: '#/components/schemas/ScheduleData'
        customerProfileData:
          $ref: '#/components/schemas/CustomerProfileData'
        riskCheckData:
          type: object
          properties:
            riskCheckResult:
              type: string
              enum:
              - APPROVED
              - DECLINED
              - REVIEW
            riskScore:
              type: number
            threeDSecureRequired:
              type: boolean
          additionalProperties: false
        errors:
          type: array
          items:
            type: object
            properties:
              errorMessage:
                type: string
              errorCode:
                type: integer
                format: int32
              adapterMessage:
                type: string
              adapterCode:
                type: string
            additionalProperties: false
        adapterMessage:
          type: string
        adapterCode:
          type: string
        extraData:
          $ref: '#/components/schemas/ExtraData'
        dccData:
          type: object
          properties:
            uuid:
              type: string
            originalAmount:
              $ref: '#/components/schemas/Amount'
            originalCurrency:
              $ref: '#/components/schemas/Currency'
            convertedAmount:
              $ref: '#/components/schemas/Amount'
            convertedCurrency:
              $ref: '#/components/schemas/Currency'
            conversionRate:
              type: number
            disclaimer:
              type: string
      additionalProperties: false
    ScheduleData:
      type: object
      properties:
        scheduleId:
          type: string
        scheduleStatus:
          $ref: '#/components/schemas/ScheduleStatus'
        scheduledAt:
          $ref: '#/components/schemas/DateTimeZone'
        merchantMetaData:
          type: string
      additionalProperties: false
    Date:
      type: string
      pattern: ^[0-9]{4}-((0[1-9])|(1[0-2]))-((0[1-9])|([1-2][0-9])|(3[0-1]))$
    ExtraData:
      type: object
      additionalProperties:
        type: string
    ReturnWalletData:
      type: object
      properties:
        _TYPE:
          type: string
          enum:
          - walletData
        walletReferenceId:
          type: string
        walletOwner:
          type: string
        walletType:
          type: string
      additionalProperties: false
    ReturnData:
      oneOf:
      - $ref: '#/components/schemas/ReturnCardData'
      - $ref: '#/components/schemas/ReturnPhoneData'
      - $ref: '#/components/schemas/ReturnIbanData'
      - $ref: '#/components/schemas/ReturnWalletData'
      discriminator:
        propertyName: _TYPE
        mapping:
          cardData: '#/components/schemas/ReturnCardData'
          phoneData: '#/components/schemas/ReturnPhoneData'
          ibanData: '#/components/schemas/ReturnIbanData'
          walletData: '#/components/schemas/ReturnWalletData'
    CustomerProfileData:
      type: object
      properties:
        profileGuid:
          type: string
        customerIdentification:
          type: string
          maxLength: 36
        paymentToken:
          type: string
        markAsPreferred:
          type: boolean
      additionalProperties: false
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
externalDocs:
  description: Till Payments Gateway Documentation
  url: https://gateway.tillpayments.com/documentation/gateway
