---
openapi: 3.0.0
info:
    title: 'Till Payments Gateway'
    description: 'Till Payments Gateway'
    termsOfService: ''
    contact:
        email: ''
    license:
        name: MIT
    version: 3.0.0
externalDocs:
    description: 'Till Payments Gateway Documentation'
    url: https://gateway.tillpayments.com/documentation/gateway
servers:
    - url: https://gateway.tillpayments.com/api/v3
tags:
    - name: options
      description: Retrieve a list of options
      externalDocs:
          description: Find out more about the options API
          url: https://gateway.tillpayments.com/documentation/apiv3#options-request
    - name: prepare-transaction
      description: Prepare Transactions
      externalDocs:
          description: Find out more about the transaction API
          url: https://gateway.tillpayments.com/documentation/apiv3
    - name: schedule
      description: Set and manage transaction schedules
      externalDocs:
          description: Find out more about the scheduler API
          url: https://gateway.tillpayments.com/documentation/gateway#scheduler
    - name: status
      description: Retrieve the status of transactions
      externalDocs:
          description: Find out more about the status API
          url: https://gateway.tillpayments.com/documentation/apiv3#status-request
    - name: transaction
      description: Process transactions
      externalDocs:
          description: Find out more about the transaction API
          url: https://gateway.tillpayments.com/documentation/apiv3
paths:
    /transaction/{apiKey}/prepare-debit:
        post:
            tags:
                - prepare-transaction
            summary: Process a prepare Debit
            operationId: processPrepareDebit
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
            requestBody:
                description: Data which is required to process a Debit
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/PrepareDebitRequest'
            responses:
                '200':
                    description: Prepare Debit response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PrepareDebitResponse'
                            examples:
                                success:
                                    value:
                                        success: true
                                        data:
                                            data1: data1
                                            data2: data2
                                error:
                                    value:
                                        success: false
                                        errorMessage: Given identifier 'someIdentifier' is invalid.
    /transaction/{apiKey}/debit:
        post:
            tags:
                - transaction
            summary: Process a debit
            operationId: processDebit
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
            requestBody:
                description: Data which is required to process a debit
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Debit'
                        example:
                            merchantTransactionId: 2019-09-02-0001
                            additionalId1: x0001
                            additionalId2: y0001
                            extraData:
                                someKey: someValue
                                otherKey: otherValue
                            merchantMetaData: merchantRelevantData
                            surchargeAmount: '0.99'
                            amount: '9.99'
                            currency: EUR
                            successUrl: http://example.com/success
                            cancelUrl: http://example.com/cancel
                            errorUrl: http://example.com/error
                            callbackUrl: http://example.com/callback
                            transactionToken: ix::tRaNsAcT1OnToK3N
                            description: Example Product
                            customer:
                                identification: c0001
                                firstName: John
                                lastName: Doe
                            threeDSecureData:
                                3dsecure: MANDATORY
                            referenceSchemeTransactionIdentifier: IXHKDJRR462950
                            language: en
                required: true
            responses:
                '200':
                    description: Transaction response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TransactionResponse'
                            examples:
                                finished:
                                    value:
                                        success: true
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20190927-abcde12345abcde12345
                                        returnType: FINISHED
                                        paymentMethod: Creditcard
                                redirect:
                                    value:
                                        success: true
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20190927-abcde12345abcde12345
                                        returnType: REDIRECT
                                        redirectUrl: http://redirectComesUrlHere.com
                                        redirectQRCode: data:image/png;base64,ABCDEFGHIJKLMNOPQRSTUVWXYZ
                                        paymentMethod: Creditcard
                                processing error:
                                    value:
                                        success: false
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20200924-abcde12345abcde12345
                                        returnType: ERROR
                                        paymentMethod: Dummy
                                        errors:
                                            - errorMessage: Dummy error
                                              errorCode: 1003
                                              adapterMessage: Dummy adapter error
                                general error, e.g. duplicate:
                                    value:
                                        success: false
                                        errorMessage: The transaction ID '20190823062178' already exists!
                                        errorCode: 3004
                                general error, e.g. validation:
                                    value:
                                        success: false
                                        errorMessage: "root: 'amount' is required"
                                        errorCode: 1002
    /transaction/{apiKey}/prepare-preauthorize:
        post:
            tags:
                - prepare-transaction
            summary: Process a prepare Preauthorize
            operationId: processPreparePreauthorize
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
            requestBody:
                description: Data which is required to process a Preauthorize
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/PreparePreauthorizeRequest'
            responses:
                '200':
                    description: Preauthorize Debit response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PreparePreauthorizeResponse'
                            examples:
                                success:
                                    value:
                                        success: true
                                        data:
                                            data1: data1
                                            data2: data2
                                error:
                                    value:
                                        success: false
                                        errorMessage: Given identifier 'someIdentifier' is invalid.
    /transaction/{apiKey}/continue-dcc:
        post:
            tags:
                - continue-dcc
            summary: Continue a DCC transaction
            operationId: processContinueDcc
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
            requestBody:
                description: Data which is required to continue a pending DCC transaction.
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ContinueDcc'
            responses:
                '200':
                    description: Transaction response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TransactionResponse'
    /transaction/{apiKey}/preauthorize:
        post:
            tags:
                - transaction
            summary: 'Process a preauthorize: reserves the payment amount on the customer''s payment instrument'
            operationId: processPreauthorize
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
            requestBody:
                description: Data which is required to process a preauthorize
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Preauthorize'
                        example:
                            merchantTransactionId: 2019-09-02-0002
                            extraData:
                                someKey: someValue
                                otherKey: otherValue
                            merchantMetaData: merchantRelevantData
                            surchargeAmount: '0.99'
                            amount: '9.99'
                            currency: EUR
                            successUrl: http://example.com/success
                            cancelUrl: http://example.com/cancel
                            errorUrl: http://example.com/error
                            callbackUrl: http://example.com/callback
                            description: Example Product
                            customer:
                                identification: c0001
                                firstName: John
                                lastName: Doe
                            threeDSecureData:
                                3dsecure: MANDATORY
                            referenceSchemeTransactionIdentifier: IXHKDJRR462950
                            language: en
                required: true
            responses:
                '200':
                    description: Transaction response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TransactionResponse'
                            examples:
                                finished:
                                    value:
                                        success: true
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20190927-abcde12345abcde12345
                                        returnType: FINISHED
                                        paymentMethod: Creditcard
                                redirect:
                                    value:
                                        success: true
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20190927-abcde12345abcde12345
                                        returnType: REDIRECT
                                        redirectUrl: http://redirectComesUrlHere.com
                                        redirectQRCode: data:image/png;base64,ABCDEFGHIJKLMNOPQRSTUVWXYZ
                                        paymentMethod: Creditcard
                                processing error:
                                    value:
                                        success: false
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20200924-abcde12345abcde12345
                                        returnType: ERROR
                                        paymentMethod: Dummy
                                        errors:
                                            - errorMessage: Dummy error
                                              errorCode: 1003
                                              adapterMessage: Dummy adapter error
                                general error, e.g. duplicate:
                                    value:
                                        success: false
                                        errorMessage: The transaction ID '20190823062178' already exists!
                                        errorCode: 3004
                                general error, e.g. validation:
                                    value:
                                        success: false
                                        errorMessage: "root: 'amount' is required"
                                        errorCode: 1002
    /transaction/{apiKey}/incrementalAuthorization:
        post:
            tags:
                - transaction
            summary: Increases or prolongs the authorization on a customer's payment instrument (made with Preauthorize before)
            operationId: processIncrementalAuthorization
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
            requestBody:
                description: Data which is required to process a incremental auth
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/IncrementalAuthorization'
                        example:
                            merchantTransactionId: 2019-09-02-0002
                            referenceUuid: uuid_of_preauth
                            extraData:
                                someKey: someValue
                                otherKey: otherValue
                            merchantMetaData: merchantRelevantData
                            amount: '9.99'
                            currency: EUR
                            successUrl: http://example.com/success
                            cancelUrl: http://example.com/cancel
                            errorUrl: http://example.com/error
                            callbackUrl: http://example.com/callback
                            description: Example Product
                            language: en
                required: true
            responses:
                '200':
                    description: Transaction response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TransactionResponse'
                            examples:
                                finished:
                                    value:
                                        success: true
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20190927-abcde12345abcde12345
                                        returnType: FINISHED
                                        paymentMethod: Creditcard
                                redirect:
                                    value:
                                        success: true
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20190927-abcde12345abcde12345
                                        returnType: REDIRECT
                                        redirectUrl: http://redirectComesUrlHere.com
                                        redirectQRCode: data:image/png;base64,ABCDEFGHIJKLMNOPQRSTUVWXYZ
                                        paymentMethod: Creditcard
                                processing error:
                                    value:
                                        success: false
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20200924-abcde12345abcde12345
                                        returnType: ERROR
                                        paymentMethod: Dummy
                                        errors:
                                            - errorMessage: Dummy error
                                              errorCode: 1003
                                              adapterMessage: Dummy adapter error
                                general error, e.g. duplicate:
                                    value:
                                        success: false
                                        errorMessage: The transaction ID '20190823062178' already exists!
                                        errorCode: 3004
                                general error, e.g. validation:
                                    value:
                                        success: false
                                        errorMessage: "root: 'amount' is required"
                                        errorCode: 1002
    /transaction/{apiKey}/capture:
        post:
            tags:
                - transaction
            summary: 'Process a capture: completes a payment previously authorized through Preauthorize'
            operationId: processCapture
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
            requestBody:
                description: Data which is required to process a capture
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Capture'
                        example:
                            merchantTransactionId: 2019-09-02-0003
                            referenceUuid: bcdef23456bcdef23456
                            amount: '9.99'
                            currency: EUR
                required: true
            responses:
                '200':
                    description: Transaction response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TransactionResponse'
                            examples:
                                finished:
                                    value:
                                        success: true
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20190927-abcde12345abcde12345
                                        returnType: FINISHED
                                        paymentMethod: Creditcard
                                redirect:
                                    value:
                                        success: true
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20190927-abcde12345abcde12345
                                        returnType: REDIRECT
                                        redirectUrl: http://redirectComesUrlHere.com
                                        redirectQRCode: data:image/png;base64,ABCDEFGHIJKLMNOPQRSTUVWXYZ
                                        paymentMethod: Creditcard
                                processing error:
                                    value:
                                        success: false
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20200924-abcde12345abcde12345
                                        returnType: ERROR
                                        paymentMethod: Dummy
                                        errors:
                                            - errorMessage: Dummy error
                                              errorCode: 1003
                                              adapterMessage: Dummy adapter error
                                general error, e.g. duplicate:
                                    value:
                                        success: false
                                        errorMessage: The transaction ID '20190823062178' already exists!
                                        errorCode: 3004
                                general error, e.g. validation:
                                    value:
                                        success: false
                                        errorMessage: "root: 'amount' is required"
                                        errorCode: 1002
    /transaction/{apiKey}/void:
        post:
            tags:
                - transaction
            summary: 'Process a void: cancels a previously authorized Preauthorize'
            operationId: processVoid
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
            requestBody:
                description: Data which is required to process a void
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Void'
                        example:
                            merchantTransactionId: 2019-09-02-0004
                            referenceUuid: bcdef23456bcdef23456
                required: true
            responses:
                '200':
                    description: Transaction response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TransactionResponse'
                            examples:
                                finished:
                                    value:
                                        success: true
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20190927-abcde12345abcde12345
                                        returnType: FINISHED
                                        paymentMethod: Creditcard
                                redirect:
                                    value:
                                        success: true
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20190927-abcde12345abcde12345
                                        returnType: REDIRECT
                                        redirectUrl: http://redirectComesUrlHere.com
                                        redirectQRCode: data:image/png;base64,ABCDEFGHIJKLMNOPQRSTUVWXYZ
                                        paymentMethod: Creditcard
                                processing error:
                                    value:
                                        success: false
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20200924-abcde12345abcde12345
                                        returnType: ERROR
                                        paymentMethod: Dummy
                                        errors:
                                            - errorMessage: Dummy error
                                              errorCode: 1003
                                              adapterMessage: Dummy adapter error
                                general error, e.g. duplicate:
                                    value:
                                        success: false
                                        errorMessage: The transaction ID '20190823062178' already exists!
                                        errorCode: 3004
                                general error, e.g. validation:
                                    value:
                                        success: false
                                        errorMessage: "root: 'referenceUuid' is required"
                                        errorCode: 1002
    /transaction/{apiKey}/prepare-register:
        post:
            tags:
                - prepare-transaction
            summary: Process a prepare Register
            operationId: processPrepareRegister
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
            requestBody:
                description: Data which is required to process a Register
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/PrepareRegisterRequest'
            responses:
                '200':
                    description: Prepare Register response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PrepareRegisterResponse'
                            examples:
                                success:
                                    value:
                                        success: true
                                        data:
                                            data1: data1
                                            data2: data2
                                error:
                                    value:
                                          success: false
                                          errorMessage: Given identifier 'someIdentifier' is invalid.
    /transaction/{apiKey}/register:
        post:
            tags:
                - transaction
            summary: 'Process a register: registers a customer''s payment instrument for future use (Debit or Preauthorize)'
            operationId: processRegister
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
            requestBody:
                description: Data which is required to process a register
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Register'
                        example:
                            merchantTransactionId: 2019-09-02-0005
                            merchantMetaData: merchantRelevantData
                            successUrl: http://example.com/success
                            cancelUrl: http://example.com/cancel
                            errorUrl: http://example.com/error
                            callbackUrl: http://example.com/callback
                            customer:
                                identification: 1234
                                firstName: John
                                lastName: Doe
                                paymentData:
                                    ibanData:
                                        iban: AT11111111111111111111
                                        bic: ABC
                            description: This is a register
                            language: en
                required: true
            responses:
                '200':
                    description: Transaction response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TransactionResponse'
                            examples:
                                finished:
                                    value:
                                        success: true
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20190927-abcde12345abcde12345
                                        returnType: FINISHED
                                        paymentMethod: Creditcard
                                redirect:
                                    value:
                                        success: true
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20190927-abcde12345abcde12345
                                        returnType: REDIRECT
                                        redirectUrl: http://redirectComesUrlHere.com
                                        redirectQRCode: data:image/png;base64,ABCDEFGHIJKLMNOPQRSTUVWXYZ
                                        paymentMethod: Creditcard
                                processing error:
                                    value:
                                        success: false
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20200924-abcde12345abcde12345
                                        returnType: ERROR
                                        paymentMethod: Dummy
                                        errors:
                                            - errorMessage: Dummy error
                                              errorCode: 1003
                                              adapterMessage: Dummy adapter error
                                general error, e.g. duplicate:
                                    value:
                                        success: false
                                        errorMessage: The transaction ID '20190823062178' already exists!
                                        errorCode: 3004
                                general error, e.g. validation:
                                    value:
                                        success: false
                                        errorMessage: "root: 'amount' is required"
                                        errorCode: 1002
    /transaction/{apiKey}/deregister:
        post:
            tags:
                - transaction
            summary: 'Process a deregister: deletes a previously registered payment instrument'
            operationId: processDeregister
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
            requestBody:
                description: Data which is required to process a deregister
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Deregister'
                        example:
                            merchantTransactionId: 2019-09-02-0006
                            merchantMetaData: merchantRelevantData
                            referenceUuid: bcdef23456bcdef23456
                required: true
            responses:
                '200':
                    description: Transaction response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TransactionResponse'
                            examples:
                                finished:
                                    value:
                                        success: true
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20190927-abcde12345abcde12345
                                        returnType: FINISHED
                                        paymentMethod: Creditcard
                                processing error:
                                    value:
                                        success: false
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20200924-abcde12345abcde12345
                                        returnType: ERROR
                                        paymentMethod: Dummy
                                        errors:
                                            - errorMessage: Dummy error
                                              errorCode: 1003
                                              adapterMessage: Dummy adapter error
                                general error, e.g. duplicate:
                                    value:
                                        success: false
                                        errorMessage: The transaction ID '20190823062178' already exists!
                                        errorCode: 3004
                                general error, e.g. validation:
                                    value:
                                        success: false
                                        errorMessage: "root: 'referenceUuid' is required"
                                        errorCode: 1002
    /transaction/{apiKey}/refund:
        post:
            tags:
                - transaction
            summary: Process a refund
            operationId: processRefund
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
            requestBody:
                description: Data which is required to process a refund
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Refund'
                        example:
                            merchantTransactionId: 2019-09-02-0007
                            referenceUuid: bcdef23456bcdef23456
                            amount: '9.99'
                            currency: EUR
                            callbackUrl: http://example.com/callback
                            description: Refund money
                required: true
            responses:
                '200':
                    description: Transaction response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TransactionResponse'
                            examples:
                                finished:
                                    value:
                                        success: true
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20190927-abcde12345abcde12345
                                        returnType: FINISHED
                                        paymentMethod: Creditcard
                                processing error:
                                    value:
                                        success: false
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20200924-abcde12345abcde12345
                                        returnType: ERROR
                                        paymentMethod: Dummy
                                        errors:
                                            - errorMessage: Dummy error
                                              errorCode: 1003
                                              adapterMessage: Dummy adapter error
                                general error, e.g. duplicate:
                                    value:
                                        success: false
                                        errorMessage: The transaction ID '20190823062178' already exists!
                                        errorCode: 3004
                                general error, e.g. validation:
                                    value:
                                        success: false
                                        errorMessage: "root: 'amount' is required"
                                        errorCode: 1002
    /transaction/{apiKey}/payout:
        post:
            tags:
                - transaction
            summary: Process a payout
            operationId: processPayout
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
            requestBody:
                description: Data which is required to process a payout
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Payout'
                        example:
                            merchantTransactionId: 2019-09-02-0008
                            amount: '9.99'
                            currency: EUR
                            callbackUrl: http://example.com/callback
                            transactionToken: ix::a1A2B3b4c5C6D7d
                            description: Payout
                required: true
            responses:
                '200':
                    description: Transaction response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TransactionResponse'
                            examples:
                                finished:
                                    value:
                                        success: true
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20190927-abcde12345abcde12345
                                        returnType: FINISHED
                                        paymentMethod: Creditcard
                                processing error:
                                    value:
                                        success: false
                                        uuid: abcde12345abcde12345
                                        purchaseId: 20200924-abcde12345abcde12345
                                        returnType: ERROR
                                        paymentMethod: Dummy
                                        errors:
                                            - errorMessage: Dummy error
                                              errorCode: 1003
                                              adapterMessage: Dummy adapter error
                                general error, e.g. duplicate:
                                    value:
                                        success: false
                                        errorMessage: The transaction ID '20190823062178' already exists!
                                        errorCode: 3004
                                general error, e.g. validation:
                                    value:
                                        success: false
                                        errorMessage: "root: 'amount' is required"
                                        errorCode: 1002

    /schedule/{apiKey}/start:
        post:
            tags:
                - schedule
            summary: Start a schedule. Requires the registrationId of an existing transaction of type Register / Debit-with-register / Preauthorize-with-register
            operationId: startSchedule
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
            requestBody:
                description: Start a schedule on the given registration transaction
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/StartSchedule'
                        example:
                            registrationUuid: abcde01234abcde01234
                            amount: '9.99'
                            currency: EUR
                            periodLength: 6
                            periodUnit: MONTH
                            startDateTime: '2019-09-30T01:00:00+00:00'
                required: true
            responses:
                '200':
                    description: Schedule response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ScheduleResponse'
                            examples:
                                success:
                                    value:
                                        success: true
                                        scheduleId: SC-1234-1234-1234-1234-1234-1234
                                        registrationUuid: abcde01234abcde01234
                                        oldStatus: NON-EXISTING
                                        newStatus: ACTIVE
                                        scheduledAt: '2019-09-30T12:00:00+00:00'
                                error:
                                    value:
                                        success: false
                                        errorMessage: The scheduleId is not valid or does not match to the connector
                                        errorCode: 7040
    /schedule/{apiKey}/{scheduleId}/update:
        post:
            tags:
                - schedule
            summary: Update a schedule. Requires the registrationId of an existing transaction of type Register / Debit-with-register / Preauthorize-with-register
            operationId: updateSchedule
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
                - name: scheduleId
                  in: path
                  description: ID of the schedule
                  required: true
                  schema:
                      type: string
            requestBody:
                description: Update a schedule with given parameters
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateSchedule'
                        example:
                            amount: '9.99'
                required: true
            responses:
                '200':
                    description: Schedule response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ScheduleResponse'
                            examples:
                                success:
                                    value:
                                        success: true
                                        scheduleId: SC-1234-1234-1234-1234-1234-1234
                                        registrationUuid: abcde01234abcde01234
                                        oldStatus: NON-EXISTING
                                        newStatus: ACTIVE
                                        scheduledAt: '2019-09-30T12:00:00+00:00'
                                error:
                                    value:
                                        success: false
                                        errorMessage: The scheduleId is not valid or does not match to the connector
                                        errorCode: 7040
    /schedule/{apiKey}/{scheduleId}/get:
        get:
            tags:
                - schedule
            summary: Retrieve a schedule. Requires the UUID of an existing transaction of type Register / Debit-with-register / Preuathorize-with-register
            operationId: getSchedule
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
                - name: scheduleId
                  in: path
                  description: ID of the schedule
                  required: true
                  schema:
                      type: string
            responses:
                '200':
                    description: Schedule response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ScheduleResponse'
                            examples:
                                success:
                                    value:
                                        success: true
                                        scheduleId: SC-1234-1234-1234-1234-1234-1234
                                        registrationUuid: abcde01234abcde01234
                                        oldStatus: ACTIVE
                                        newStatus: ACTIVE
                                        scheduledAt: '2019-09-30T12:00:00+00:00'
                                error:
                                    value:
                                        success: false
                                        errorMessage: The scheduleId is not valid or does not match to the connector
                                        errorCode: 7040
    /schedule/{apiKey}/{scheduleId}/pause:
        post:
            tags:
                - schedule
            summary: Pause a schedule. Requires the registrationId of an existing transaction of type Register / Debit-with-register / Preuathorize-with-register
            operationId: pauseSchedule
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
                - name: scheduleId
                  in: path
                  description: ID of the schedule
                  required: true
                  schema:
                      type: string
            requestBody:
                description: Pause a schedule
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/PauseSchedule'
                required: true
            responses:
                '200':
                    description: Schedule response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ScheduleResponse'
                            examples:
                                success:
                                    value:
                                        success: true
                                        scheduleId: SC-1234-1234-1234-1234-1234-1234
                                        oldStatus: ACTIVE
                                        newStatus: PAUSED
                                error:
                                    value:
                                        success: false
                                        scheduleId: SC-1234-1234-1234-1234-1234-1234
                                        oldStatus: PAUSED
                                        newStatus: PAUSED
                                        errorMessage: The status of the schedule is not valid for the requested operation
                                        errorCode: 7070
    /schedule/{apiKey}/{scheduleId}/continue:
        post:
            tags:
                - schedule
            summary: Continue a schedule which has been paused. Requires the registrationId of an existing transaction of type Register / Debit-with-register / Preuathorize-with-register
            operationId: continueSchedule
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
                - name: scheduleId
                  in: path
                  description: ID of the schedule
                  required: true
                  schema:
                      type: string
            requestBody:
                description: Continue a given schedule on given date and time
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ContinueSchedule'
                        example:
                            continueDateTime: '2019-09-30T01:00:00+00:00'
                required: true
            responses:
                '200':
                    description: Schedule response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ScheduleResponse'
                            examples:
                                success:
                                    value:
                                        success: true
                                        scheduleId: SC-1234-1234-1234-1234-1234-1234
                                        oldStatus: PAUSED
                                        newStatus: ACTIVE
                                        scheduledAt: '2019-10-05T14:26:11+00:00'
                                error:
                                    value:
                                        success: false
                                        scheduleId: SC-1234-1234-1234-1234-1234-1234
                                        oldStatus: ACTIVE
                                        newStatus: ACTIVE
                                        errorMessage: The status of the schedule is not valid for the requested operation
                                        errorCode: 7070
    /schedule/{apiKey}/{scheduleId}/cancel:
        post:
            tags:
                - schedule
            summary: Cancel a schedule. Requires the registrationId of an existing transaction of type Register / Debit-with-register / Preuathorize-with-register
            operationId: cancelSchedule
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
                - name: scheduleId
                  in: path
                  description: ID of the schedule
                  required: true
                  schema:
                      type: string
            requestBody:
                description: Cancel a schedule
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CancelSchedule'
                required: true
            responses:
                '200':
                    description: Schedule response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ScheduleResponse'
                            examples:
                                success:
                                    value:
                                        success: true
                                        scheduleId: SC-1234-1234-1234-1234-1234-1234
                                        oldStatus: ACTIVE
                                        newStatus: CANCELLED
                                error:
                                    value:
                                        success: false
                                        scheduleId: SC-1234-1234-1234-1234-1234-1234
                                        oldStatus: CANCELLED
                                        newStatus: CANCELLED
                                        errorMessage: The status of the schedule is not valid for the requested operation
                                        errorCode: 7070
    /status/{apiKey}/getByUuid/{uuid}:
        get:
            tags:
                - status
            summary: Retrieve status of a transaction
            operationId: transactionStatusByUuid
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
                - name: uuid
                  in: path
                  description: UUID of transaction
                  required: true
                  schema:
                      type: string
            responses:
                '200':
                    description: Status response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/StatusResponse'
                            examples:
                                success:
                                    value:
                                        success: true
                                        transactionStatus: SUCCESS
                                        uuid: abcde12345abcde12345
                                        merchantTransactionId: 2019-09-02-0001
                                        purchaseId: 20190902-abcde12345abcde12345
                                        transactionType: debit
                                        paymentMethod: Creditcard
                                        amount: '9.99'
                                        currency: EUR
                                        customer:
                                            firstName: John
                                            lastName: Doe
                                            company: ACME Corp.
                                            emailVerified: true
                                        extraData:
                                            someKey: someValue
                                            otherKey: otherValue
                                        returnData:
                                            _TYPE: cardData
                                            type: visa
                                            cardHolder: John Doe
                                            expiryMonth: 12
                                            expiryYear: 2030
                                            binDigits: '12345678'
                                            firstSixDigits: '123456'
                                            lastFourDigits: '4321'
                                            threeDSecure: 'OFF'
                                            binBrand: VISA
                                            binBank: SOME BIG BANK
                                            binCountry: US
                                            cardUpdateStatus: updated
                                            cardUpdatedAt: 2024-01-30T10:54:10+00:00
                                error:
                                    value:
                                        success: false
                                        errorMessage: Transaction not found
                                        errorCode: 8001
    /status/{apiKey}/getByMerchantTransactionId/{merchantTransactionId}:
        get:
            tags:
                - status
            summary: Retrieve status of a transaction
            operationId: transactionStatusByMerchantTransactionId
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
                - name: merchantTransactionId
                  in: path
                  description: ID of merchant transaction
                  required: true
                  schema:
                      type: string
            responses:
                '200':
                    description: Status response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/StatusResponse'
                            examples:
                                success:
                                    value:
                                        success: true
                                        transactionStatus: SUCCESS
                                        uuid: abcde12345abcde12345
                                        merchantTransactionId: 2019-09-02-0001
                                        purchaseId: 20190902-abcde12345abcde12345
                                        transactionType: debit
                                        paymentMethod: Creditcard
                                        amount: '9.99'
                                        currency: EUR
                                        customer:
                                            firstName: John
                                            lastName: Doe
                                            company: ACME Corp.
                                            emailVerified: true
                                        extraData:
                                            someKey: someValue
                                            otherKey: otherValue
                                        returnData:
                                            _TYPE: cardData
                                            type: visa
                                            cardHolder: John Doe
                                            expiryMonth: 12
                                            expiryYear: 2030
                                            binDigits: '12345678'
                                            firstSixDigits: '123456'
                                            lastFourDigits: '4321'
                                            threeDSecure: 'OFF'
                                            binBrand: VISA
                                            binBank: SOME BIG BANK
                                            binCountry: US
                                            cardUpdateStatus: updated
                                            cardUpdatePausedUntil: '2024-05-07'
                                            cardUpdatedAt: '2024-05-07 00:00:00'
                                error:
                                    value:
                                        success: false
                                        errorMessage: Transaction not found
                                        errorCode: 8001
    /options/{apiKey}/{optionsName}:
        post:
            tags:
                - options
            summary: Retrieve an options list based on given option name
            operationId: options
            security: []
            parameters:
                - name: apiKey
                  in: path
                  description: API Key of Connector
                  required: true
                  schema:
                      type: string
                - name: optionsName
                  in: path
                  description: Options identifier of the appropriate adapter
                  required: true
                  schema:
                      type: string
            requestBody:
                description: Parameters may be required dependent on the adapter
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/OptionsRequest'
                        example:
                            parameters:
                                firstParam: firstValue
                                secondParam: secondValue
                required: true
            responses:
                '200':
                    description: Options response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/OptionsResponse'
                            examples:
                                success:
                                    value:
                                        success: true
                                        options:
                                            bank1: Bank One
                                            bank2: Bank Two
                                            bank3: Bank Three
                                            bank4: Bank Four
                                error:
                                    value:
                                        success: false
                                        errorMessage: Given identifier 'someIdentifier' is invalid.
    /dispute/{apiKey}/accept/{uuid}:
        post:
            tags:
                - dispute
            summary: Accept
            description: You accept the open Dispute. The "accept" statement will be send to Provider and will lead to a Chargeback.
            operationId: accept
            parameters:
                - $ref: '#/components/parameters/ApiKey'
                - $ref: '#/components/parameters/Uuid'
            requestBody:
                description: Information to accept Dispute
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/DisputeAcceptRequest'
                required: false
            responses:
                '200':
                    description: Dispute response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DisputeResponse'
                            examples:
                                finished:
                                    value:
                                        success: true
                                        extraData:
                                            someKey: someValue
                                            otherKey:
                                                otherKey1: otherValue1
                                                otherKey2: otherValue2
                                validation error:
                                    value:
                                        success: false
                                        errorMessage: 'Validation Error: Message'
                                        errorCode: 9999
                                processing error:
                                    value:
                                        success: false
                                        returnType: ERROR
                                        errors:
                                            - errorMessage: Accept Evidence failed
                                              errorCode: 1003
                                not found error:
                                    value:
                                        success: false
                                        returnType: ERROR
                                        errors:
                                            - errorMessage: Referenced Transaction with 'uuid' not found
                                              errorCode: 1002
                                wrong type error:
                                    value:
                                        success: false
                                        returnType: ERROR
                                        errors:
                                            - errorMessage: Referenced Transaction is not of Type 'Chargeback'
                                              errorCode: 1002
    /dispute/{apiKey}/metadata/{uuid}:
        post:
            tags:
                - Dispute
            summary: Fetch metadata
            description: Fetch associated Dispute metadata from Provider
            operationId: disputeMetadata
            parameters:
                - $ref: '#/components/parameters/ApiKey'
                - $ref: '#/components/parameters/Uuid'
            requestBody:
                description: Fetch associated Dispute metadata from Provider
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/DisputeMetadataRequest'
                required: false
            responses:
                '200':
                    description: Dispute metadata response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DisputeMetadataResponse'
                            examples:
                                finished:
                                    value:
                                        success: true
                                        extraData:
                                            someKey: someValue
                                            otherKey:
                                                otherKey1: otherValue1
                                                otherKey2: otherValue2
                                        metaData:
                                            someKey: someValue
                                            otherKey:
                                                otherKey1: otherValue1
                                                otherKey2: otherValue2
                                validation error:
                                    value:
                                        success: false
                                        errorMessage: 'Validation Error: Message'
                                        errorCode: 9999
                                processing error:
                                    value:
                                        success: false
                                        returnType: ERROR
                                        errors:
                                            - errorMessage: Metadata Request Failed
                                              errorCode: 1003
                                not found error:
                                    value:
                                        success: false
                                        returnType: ERROR
                                        errors:
                                            - errorMessage: Referenced Transaction with 'uuid' not found
                                              errorCode: 1002
                                wrong type error:
                                    value:
                                        success: false
                                        returnType: ERROR
                                        errors:
                                            - errorMessage: Referenced Transaction is not of Type 'Chargeback'
                                              errorCode: 1002
    /dispute/{apiKey}/upload-evidence/{uuid}:
        post:
            tags:
                - dispute
            summary: Upload Evidence
            description: Upload Dispute Evidence Document to Provider
            operationId: uploadDisputeEvidence
            parameters:
                - $ref: '#/components/parameters/ApiKey'
                - $ref: '#/components/parameters/Uuid'
            requestBody:
                description: Document which should be uploaded to Provider
                content:
                    multipart/form-data:
                        schema:
                            $ref: '#/components/schemas/DisputeUploadEvidenceRequest'
                required: true
            responses:
                '200':
                    description: Dispute response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DisputeResponse'
                            examples:
                                finished:
                                    value:
                                        success: true
                                        extraData:
                                            someKey: someValue
                                            otherKey:
                                                otherKey1: otherValue1
                                                otherKey2: otherValue2
                                validation error:
                                    value:
                                        success: false
                                        errorMessage: 'Validation Error: Message'
                                        errorCode: 9999
                                processing error:
                                    value:
                                        success: false
                                        returnType: ERROR
                                        errors:
                                            - errorMessage: Upload Evidence failed
                                              errorCode: 1003
                                not found error:
                                    value:
                                        success: false
                                        returnType: ERROR
                                        errors:
                                            - errorMessage: Referenced Transaction with 'uuid' not found
                                              errorCode: 1002
                                wrong type error:
                                    value:
                                        success: false
                                        returnType: ERROR
                                        errors:
                                            - errorMessage: Referenced Transaction is not of Type 'Chargeback'
                                              errorCode: 1002
    /dispute/{apiKey}/submit-evidence/{uuid}:
        post:
            tags:
                - dispute
            summary: Submit Evidence
            description: Submit all previous uploaded Dispute Evidence to Provider
            operationId: submitDisputeEvidence
            parameters:
                - $ref: '#/components/parameters/ApiKey'
                - $ref: '#/components/parameters/Uuid'
            requestBody:
                description: Data which should be provided for the Dispute
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/DisputeSubmitEvidenceRequest'
                required: false
            responses:
                '200':
                    description: Dispute response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DisputeResponse'
                            examples:
                                finished:
                                    value:
                                        success: true
                                        extraData:
                                            someKey: someValue
                                            otherKey:
                                                otherKey1: otherValue1
                                                otherKey2: otherValue2
                                validation error:
                                    value:
                                        success: false
                                        errorMessage: 'Validation Error: Message'
                                        errorCode: 9999
                                processing error:
                                    value:
                                        success: false
                                        returnType: ERROR
                                        errors:
                                            - errorMessage: Upload Evidence failed
                                              errorCode: 1003
                                not found error:
                                    value:
                                        success: false
                                        returnType: ERROR
                                        errors:
                                            - errorMessage: Referenced Transaction with 'uuid' not found
                                              errorCode: 1002
                                wrong type error:
                                    value:
                                        success: false
                                        returnType: ERROR
                                        errors:
                                            - errorMessage: Referenced Transaction is not of Type 'Chargeback'
                                              errorCode: 1002

components:
    parameters:
        ApiKey:
            name: apiKey
            in: path
            description: API key of connector.
            required: true
            schema:
                type: string
                maxLength: 50
        Uuid:
            name: uuid
            in: path
            description: Uuid of Dispute
            required: true
            schema:
                type: string
    schemas:
        PrepareDebitRequest:
            type: object
            required:
                - amount
                - currency
            properties:
                merchantTransactionId:
                    type: string
                    minLength: 1
                    maxLength: 50
                additionalId1:
                    type: string
                    minLength: 1
                    maxLength: 50
                additionalId2:
                    type: string
                    minLength: 1
                    maxLength: 50
                extraData:
                    $ref: '#/components/schemas/ExtraData'
                merchantMetaData:
                    type: string
                    maxLength: 255
                referenceUuid:
                    type: string
                    minLength: 1
                    maxLength: 50
                amount:
                    $ref: '#/components/schemas/Amount'
                currency:
                    $ref: '#/components/schemas/Currency'
                successUrl:
                    type: string
                    maxLength: 65535
                cancelUrl:
                    type: string
                    maxLength: 65535
                errorUrl:
                    type: string
                    maxLength: 65535
                callbackUrl:
                    type: string
                    maxLength: 65535
                transactionToken:
                    type: string
                description:
                    type: string
                    maxLength: 255
                items:
                    $ref: '#/components/schemas/Items'
                withRegister:
                    type: boolean
                transactionIndicator:
                    type: string
                    enum:
                        - SINGLE
                        - INITIAL
                        - RECURRING
                        - FIRST-CARDONFILE
                        - CARDONFILE
                        - CARDONFILE-MERCHANT-INITIATED
                customer:
                    $ref: '#/components/schemas/Customer'
                schedule:
                    $ref: '#/components/schemas/Schedule'
                customerProfileData:
                    $ref: '#/components/schemas/CustomerProfileData'
                threeDSecureData:
                    $ref: '#/components/schemas/ThreeDSecureData'
                language:
                    type: string
                    minLength: 2
                    maxLength: 2
            additionalProperties: false
        PrepareDebitResponse:
            type: object
            properties:
                success:
                    type: boolean
                error:
                    type: string
            additionalProperties: true
        Debit:
            type: object
            required:
                - merchantTransactionId
                - amount
                - currency
            properties:
                merchantTransactionId:
                    type: string
                    minLength: 1
                    maxLength: 50
                additionalId1:
                    type: string
                    minLength: 1
                    maxLength: 50
                additionalId2:
                    type: string
                    minLength: 1
                    maxLength: 50
                extraData:
                    $ref: '#/components/schemas/ExtraData'
                pspPassthroughData:
                    $ref: '#/components/schemas/PspPassthroughData'
                merchantMetaData:
                    type: string
                    maxLength: 255
                referenceUuid:
                    type: string
                    minLength: 1
                    maxLength: 50
                amount:
                    $ref: '#/components/schemas/Amount'
                surchargeAmount:
                    $ref: '#/components/schemas/Amount'
                currency:
                    $ref: '#/components/schemas/Currency'
                successUrl:
                    type: string
                    maxLength: 65535
                cancelUrl:
                    type: string
                    maxLength: 65535
                errorUrl:
                    type: string
                    maxLength: 65535
                callbackUrl:
                    type: string
                    maxLength: 65535
                transactionToken:
                    type: string
                description:
                    type: string
                    maxLength: 255
                items:
                    $ref: '#/components/schemas/Items'
                splits:
                    $ref: '#/components/schemas/Splits'
                withRegister:
                    type: boolean
                transactionIndicator:
                    type: string
                    enum:
                        - SINGLE
                        - INITIAL
                        - RECURRING
                        - FIRST-CARDONFILE
                        - CARDONFILE
                        - CARDONFILE-MERCHANT-INITIATED
                        - MOTO
                customer:
                    $ref: '#/components/schemas/Customer'
                schedule:
                    $ref: '#/components/schemas/Schedule'
                customerProfileData:
                    $ref: '#/components/schemas/CustomerProfileData'
                threeDSecureData:
                    $ref: '#/components/schemas/ThreeDSecureData'
                payByLink:
                    $ref: '#/components/schemas/PayByLink'
                language:
                    type: string
                    minLength: 2
                    maxLength: 2
                requestDcc:
                    type: boolean
                dccData:
                    $ref: '#/components/schemas/DccData'
                l2l3Data:
                    $ref: '#/components/schemas/L2L3Data'
                referenceSchemeTransactionIdentifier:
                    type: string
                    maxLength: 50
                includeTracing:
                    type: boolean
                requestPartialAuthorization:
                    type: boolean
                    description: >
                        Request a partial authorization when the full amount cannot be authorized.
                        The actual authorized amount may be less than the requested amount.
                        Available on: CheckoutCom, StripeExtended, WorldLine
            additionalProperties: false
        PreparePreauthorizeRequest:
            type: object
            required:
                - amount
                - currency
            properties:
                merchantTransactionId:
                    type: string
                    minLength: 1
                    maxLength: 50
                additionalId1:
                    type: string
                    minLength: 1
                    maxLength: 50
                additionalId2:
                    type: string
                    minLength: 1
                    maxLength: 50
                extraData:
                    $ref: '#/components/schemas/ExtraData'
                merchantMetaData:
                    type: string
                    maxLength: 255
                referenceUuid:
                    type: string
                    minLength: 1
                    maxLength: 50
                amount:
                    $ref: '#/components/schemas/Amount'
                currency:
                    $ref: '#/components/schemas/Currency'
                successUrl:
                    type: string
                    maxLength: 65535
                cancelUrl:
                    type: string
                    maxLength: 65535
                errorUrl:
                    type: string
                    maxLength: 65535
                callbackUrl:
                    type: string
                    maxLength: 65535
                transactionToken:
                    type: string
                description:
                    type: string
                    maxLength: 255
                items:
                    $ref: '#/components/schemas/Items'
                withRegister:
                    type: boolean
                transactionIndicator:
                    type: string
                    enum:
                        - SINGLE
                        - INITIAL
                        - RECURRING
                        - FIRST-CARDONFILE
                        - CARDONFILE
                        - CARDONFILE-MERCHANT-INITIATED
                customer:
                    $ref: '#/components/schemas/Customer'
                schedule:
                    $ref: '#/components/schemas/Schedule'
                customerProfileData:
                    $ref: '#/components/schemas/CustomerProfileData'
                threeDSecureData:
                    $ref: '#/components/schemas/ThreeDSecureData'
                language:
                    type: string
                    minLength: 2
                    maxLength: 2
            additionalProperties: false
        PreparePreauthorizeResponse:
            type: object
            properties:
                success:
                    type: boolean
                error:
                    type: string
            additionalProperties: true
        Preauthorize:
            type: object
            required:
                - merchantTransactionId
                - amount
                - currency
            properties:
                merchantTransactionId:
                    type: string
                    minLength: 1
                    maxLength: 50
                additionalId1:
                    type: string
                    minLength: 1
                    maxLength: 50
                additionalId2:
                    type: string
                    minLength: 1
                    maxLength: 50
                captureInMinutes:
                    type: integer
                    minimum: 1
                extraData:
                    $ref: '#/components/schemas/ExtraData'
                pspPassthroughData:
                    $ref: '#/components/schemas/PspPassthroughData'
                merchantMetaData:
                    type: string
                    maxLength: 255
                referenceUuid:
                    type: string
                    minLength: 1
                    maxLength: 50
                amount:
                    $ref: '#/components/schemas/Amount'
                surchargeAmount:
                    $ref: '#/components/schemas/Amount'
                currency:
                    $ref: '#/components/schemas/Currency'
                successUrl:
                    type: string
                    maxLength: 65535
                cancelUrl:
                    type: string
                    maxLength: 65535
                errorUrl:
                    type: string
                    maxLength: 65535
                callbackUrl:
                    type: string
                    maxLength: 65535
                transactionToken:
                    type: string
                description:
                    type: string
                    maxLength: 255
                items:
                    $ref: '#/components/schemas/Items'
                splits:
                    $ref: '#/components/schemas/Splits'
                withRegister:
                    type: boolean
                transactionIndicator:
                    type: string
                    enum:
                        - SINGLE
                        - INITIAL
                        - RECURRING
                        - FIRST-CARDONFILE
                        - CARDONFILE
                        - CARDONFILE-MERCHANT-INITIATED
                        - MOTO
                customer:
                    $ref: '#/components/schemas/Customer'
                schedule:
                    $ref: '#/components/schemas/Schedule'
                customerProfileData:
                    $ref: '#/components/schemas/CustomerProfileData'
                threeDSecureData:
                    $ref: '#/components/schemas/ThreeDSecureData'
                payByLink:
                    $ref: '#/components/schemas/PayByLink'
                language:
                    type: string
                    minLength: 2
                    maxLength: 2
                requestDcc:
                    type: boolean
                dccData:
                    $ref: '#/components/schemas/DccData'
                l2l3Data:
                    $ref: '#/components/schemas/L2L3Data'
                referenceSchemeTransactionIdentifier:
                    type: string
                    maxLength: 50
                includeTracing:
                    type: boolean
                requestPartialAuthorization:
                    type: boolean
                    description: >
                        Request a partial authorization when the full amount cannot be authorized.
                        The actual authorized amount may be less than the requested amount.
                        Available on: CheckoutCom, StripeExtended, WorldLine
            additionalProperties: false
        IncrementalAuthorization:
            type: object
            required:
                - merchantTransactionId
                - referenceUuid
                - amount
                - currency
            properties:
                merchantTransactionId:
                    type: string
                    minLength: 1
                    maxLength: 50
                referenceUuid:
                    type: string
                    minLength: 1
                    maxLength: 50
                additionalId1:
                    type: string
                    minLength: 1
                    maxLength: 50
                additionalId2:
                    type: string
                    minLength: 1
                    maxLength: 50
                referenceSchemeLifecycleIdentifier:
                    type: string
                    minLength: 1
                    maxLength: 50
                extraData:
                    $ref: '#/components/schemas/ExtraData'
                merchantMetaData:
                    type: string
                    maxLength: 255
                amount:
                    $ref: '#/components/schemas/Amount'
                currency:
                    $ref: '#/components/schemas/Currency'
                successUrl:
                    type: string
                    maxLength: 65535
                cancelUrl:
                    type: string
                    maxLength: 65535
                errorUrl:
                    type: string
                    maxLength: 65535
                callbackUrl:
                    type: string
                    maxLength: 65535
                description:
                    type: string
                    maxLength: 255
                items:
                    $ref: '#/components/schemas/Items'
                transactionIndicator:
                    type: string
                    enum:
                        - SINGLE
                        - INITIAL
                        - RECURRING
                        - FIRST-CARDONFILE
                        - CARDONFILE
                        - CARDONFILE-MERCHANT-INITIATED
                        - MOTO
                language:
                    type: string
                    minLength: 2
                    maxLength: 2
                l2l3Data:
                    $ref: '#/components/schemas/L2L3Data'
            additionalProperties: false
        Capture:
            type: object
            required:
                - merchantTransactionId
                - amount
                - currency
                - referenceUuid
            properties:
                merchantTransactionId:
                    type: string
                    minLength: 1
                    maxLength: 50
                additionalId1:
                    type: string
                    minLength: 1
                    maxLength: 50
                additionalId2:
                    type: string
                    minLength: 1
                    maxLength: 50
                extraData:
                    $ref: '#/components/schemas/ExtraData'
                pspPassthroughData:
                    $ref: '#/components/schemas/PspPassthroughData'
                merchantMetaData:
                    type: string
                    maxLength: 255
                referenceUuid:
                    type: string
                    minLength: 1
                    maxLength: 50
                amount:
                    $ref: '#/components/schemas/Amount'
                currency:
                    $ref: '#/components/schemas/Currency'
                description:
                    type: string
                    maxLength: 255
                items:
                    $ref: '#/components/schemas/Items'
                splits:
                    $ref: '#/components/schemas/Splits'
                isFinalCapture:
                    type: boolean
                l2l3Data:
                    $ref: '#/components/schemas/L2L3Data'
            additionalProperties: false
        Void:
            type: object
            required:
                - merchantTransactionId
                - referenceUuid
            properties:
                merchantTransactionId:
                    type: string
                    minLength: 1
                    maxLength: 50
                additionalId1:
                    type: string
                    minLength: 1
                    maxLength: 50
                additionalId2:
                    type: string
                    minLength: 1
                    maxLength: 50
                amount:
                    $ref: '#/components/schemas/Amount'
                currency:
                    $ref: '#/components/schemas/Currency'
                extraData:
                    $ref: '#/components/schemas/ExtraData'
                pspPassthroughData:
                    $ref: '#/components/schemas/PspPassthroughData'
                merchantMetaData:
                    type: string
                    maxLength: 255
                referenceUuid:
                    type: string
                    minLength: 1
                    maxLength: 50
                description:
                    type: string
                    maxLength: 255
            additionalProperties: false
        PrepareRegisterRequest:
            type: object
            properties:
                merchantTransactionId:
                    type: string
                    minLength: 1
                    maxLength: 50
                additionalId1:
                    type: string
                    minLength: 1
                    maxLength: 50
                additionalId2:
                    type: string
                    minLength: 1
                    maxLength: 50
                extraData:
                    "$ref": "#/components/schemas/ExtraData"
                pspPassthroughData:
                    "$ref": "#/components/schemas/PspPassthroughData"
                merchantMetaData:
                    type: string
                    maxLength: 255
                successUrl:
                    type: string
                    maxLength: 65535
                cancelUrl:
                    type: string
                    maxLength: 65535
                errorUrl:
                    type: string
                    maxLength: 65535
                callbackUrl:
                    type: string
                    maxLength: 65535
                transactionToken:
                    type: string
                description:
                    type: string
                    maxLength: 255
                transactionIndicator:
                    type: string
                    enum:
                        - SINGLE
                        - INITIAL
                        - RECURRING
                        - FIRST-CARDONFILE
                        - CARDONFILE
                        - CARDONFILE-MERCHANT-INITIATED
                        - MOTO
                customer:
                    "$ref": "#/components/schemas/Customer"
                schedule:
                    "$ref": "#/components/schemas/Schedule"
                customerProfileData:
                    "$ref": "#/components/schemas/CustomerProfileData"
                threeDSecureData:
                    "$ref": "#/components/schemas/ThreeDSecureData"
                payByLink:
                    "$ref": "#/components/schemas/PayByLink"
                language:
                    type: string
                    minLength: 2
                    maxLength: 2
                l2l3Data:
                    "$ref": "#/components/schemas/L2L3Data"
            additionalProperties: false
        PrepareRegisterResponse:
            type: object
            properties:
                success:
                    type: boolean
                error:
                    type: string
            additionalProperties: true
        Register:
            type: object
            required:
                - merchantTransactionId
            properties:
                merchantTransactionId:
                    type: string
                    minLength: 1
                    maxLength: 50
                additionalId1:
                    type: string
                    minLength: 1
                    maxLength: 50
                additionalId2:
                    type: string
                    minLength: 1
                    maxLength: 50
                extraData:
                    $ref: '#/components/schemas/ExtraData'
                pspPassthroughData:
                    $ref: '#/components/schemas/PspPassthroughData'
                merchantMetaData:
                    type: string
                    maxLength: 255
                successUrl:
                    type: string
                    maxLength: 65535
                cancelUrl:
                    type: string
                    maxLength: 65535
                errorUrl:
                    type: string
                    maxLength: 65535
                callbackUrl:
                    type: string
                    maxLength: 65535
                transactionToken:
                    type: string
                description:
                    type: string
                    maxLength: 255
                transactionIndicator:
                    type: string
                    enum:
                        - SINGLE
                        - INITIAL
                        - RECURRING
                        - FIRST-CARDONFILE
                        - CARDONFILE
                        - CARDONFILE-MERCHANT-INITIATED
                        - MOTO
                customer:
                    $ref: '#/components/schemas/Customer'
                schedule:
[...]
